*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.banner{
    background-image: url(donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.top-banner{
    width:100%;
    position: absolute;
    text-align: center;
    color: white;
    top: 30%;
}
.top-banner h1{
    font-weight: 800;
    font-size: 30px;
    margin-top: 5px;
}
.top-banner p{
    margin: 20px auto;
    font-weight: 400;
}
.pink-color{
    color:rgb(202, 25, 54);
    font-weight:bold;
}
button{
    width: 100px;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid rgb(202, 25, 54);
    background:rgb(202, 25, 54);
    color: #fff;
    cursor: pointer;
}
.second{
    width:100%;
    height:50vh ;
    margin-top: 80px;
    text-align: center;
    top: 20%;
}
.second h1{
    font-size:45px;
    font-weight: 2000;
}
.second p{
    font-size:13px;
    color: rgb(82, 79, 79);
}
.btn {
    background-color: #ddd;
    border: none ;
    color: grey;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: rgba(163, 23, 46, 0.788);
    color: white;
  }
.column-1{
    width: 220px;
    height:160px;
    border: 1px solid rgb(248, 248, 248) ;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
    background-color: white;
}
.icon{
    width: 40px;
}
.third{
    display: flex;
    margin-top: 5px;
    padding: 5px;
    justify-content: space-evenly;
}
#aqua{
    background-color: rgba(202, 235, 224, 0.781);
}
#babypink{
    background-color: rgb(201, 164, 152);
}
#purple{
    background-color: rgb(185, 175, 204);
}
.hotpink{
    color: rgb(214, 33, 63);
}
.fourth{
    display: flex;
}
.half-width{
    display:flex;
    width: 30%;
    height:160px;
    margin:60px;
    border: 1px solid rgb(248, 248, 248) ;
    padding: 5px ;
    padding-top: 160px;
    padding-bottom: 150px;
    box-shadow: 5px 10px 22px white
    border-radius: 10px;
    text-align: left;
    background-color: white
}
.half-width h2{
    font-weight: 1100;
}
.half-width p{
    font-weight: 600;
}



#picture{
    width:200px;
    height: 180px;
    border-radius:20px
}
.box{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border: none;
    margin-bottom: 20%;
}
.form-box{
    margin: 40px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    background:rgb(233, 218, 137) ;
}
footer{
        margin-top: 50px ;
        padding: 30px;
        background-color: rgba(7, 6, 6, 0.952);
        height:90px;
        width: 100%;
        font-weight: 700;
        padding-top: 20px;
        text-align: center;}
footer p{
        font-size: 10px;
        color: #ddd;
    }

#hotpink{
    color: rgb(202, 25, 54);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}